<h1 id="games" class="text-center p-4 m-4">Games</h1>
<img src="./assets/games.png" alt="games" style="width:80%;">
<div class="card d-inline-flex p-lg-3">
  <div class="card-body">
    <h2>Snake</h2>
    <a href=""><img src="./assets/snake.png" alt="Youtube logo" style="width:80%;"></a>
    <p>You've earned some time to play Snake!</p>
</div>
<div class="card d-inline-flex p-lg-3">
  <div class="card-body">
    <h2>Snake</h2>
    <a href=""><img src="./assets/snake.png" alt="Youtube logo" style="width:80%;"></a>
    <p>You've earned some time to play Snake!</p>
</div>
<div class="card d-inline-flex p-lg-3">
  <div class="card-body">
    <h2>Snake</h2>
    <a href=""><img src="./assets/snake.png" alt="Youtube logo" style="width:80%;"></a>
    <p>You've earned some time to play Snake!</p>
</div>