
  <section class="d-flex justify-content-around">

    <aside class="d-flex justify-content-start">
      <div class="list-group">
        <ul>
          <img src="./assets/puzzle_logo.png" width="50%" class="card-img-top" alt="puzzle_logo image">
          <li><a href="#">Calendar</a></li>
          <li><a href="#">Routines</a></li>
          <li><a href="#">Rewards</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>        
    </aside>
      
    <div class="card d-inline-flex p-lg-3">
      <img src="./assets/calendar-icon.png" width="20%" class="card-img-bottom" alt="calendar icon image">
      <div class="card-body">
        <h5 class="card-title">Calendar</h5>
        <p class="card-text">Create a daily task list with reminders.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Schedule</li>
        <li class="list-group-item">Task List</li>
        <li class="list-group-item">Reminder</li>
      </ul>
      <div class="card-body">
        <a href="./calendar.html" class="card-link link-primary text-decoration-none">Calendar</a>
        <a href="#" class="card-link">Schedule</a>
      </div>
    </div>

    <div class="card d-inline-flex p-lg-3">
      <img src="./assets/routine.jpeg" class="card-img-bottom" alt="image of a clock">
      <div class="card-body">
        <h5 class="card-title">Routines</h5>
        <p class="card-text">Create tasks and routines here:</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Routine 1</li>
        <li class="list-group-item">Task 1</li>
        <li class="list-group-item">Routine 2</li>
      </ul>
      <div class="card-body">
        <a href="./routines.html" class="card-link">Routines</a>
      </div>
    </div>

    <div class="card d-inline-flex p-lg-3">
      <img src="./assets/rewards.png" class="card-img-bottom" alt="image of a rewards banner">
      <div class="card-body">
        <h5 class="card-title">Rewards</h5>
        <p class="card-text">After finishing tasks, assign a reward!.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">YouTube</li>
        <li class="list-group-item">Games</li>
        <li class="list-group-item">Badges/Stickers</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Rewards</a>
      </div>
    </div>
  </section>